<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyOwnApp</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/styleFoo.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/279e8c03ce.js"></script>
</head>
<body>

    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light pb-0">
            <div class="fullWidth">
                <div class="headerTop">
                    <a class="navbar-brand logo" href="#">
                        <img src="~/images/logoShoes.png" />
                    </a>

                    @*<form class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                            <i class="fas fa-search" style="margin-right:10px"></i>Search
                        </button>
                    </form>*@

                </div>
                <button id="toggleNavBtn" class="navbar-toggler px-2" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active ">
                            <div class="dropdown">
                                <a class="nav-link" href="#">Women <span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="showFlex">
                                        @{
                                            int index = 0;
                                            for (int j = 0; j < 1; j++)
                                            {
                                                int count = 0;
                                                <div class="tripleCol">
                                                    <ul class="pl-0">
                                                        <li>
                                                            <h5>Women</h5>
                                                        </li>
                                                        @{
                                                            while (count < 5 && index != Model.LayoutModel.SubCategoriesCount)
                                                            {
                                                                if (Model.LayoutModel.GetSubCategories[index].ProductTypeId == 1)
                                                                {
                                                                    <li>
                                                                        <a href="#">@Model.LayoutModel.GetSubCategories[index].Name</a>
                                                                    </li>
                                                                    count += 1;
                                                                }
                                                                index += 1;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        <div class="tripleColImg">
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link " href="#">Men <span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="showFlex">
                                        @{
                                            index = 0;
                                            for (int j = 0; j < 1; j++)
                                            {
                                                int count = 0;
                                                <div class="tripleCol">
                                                    <ul class="pl-0">
                                                        <li>
                                                            <h5>Men</h5>
                                                        </li>
                                                        @{
                                                            while (count < 5 && index != Model.LayoutModel.SubCategoriesCount)
                                                            {
                                                                if (Model.LayoutModel.GetSubCategories[index].ProductTypeId == 2)
                                                                {
                                                                    <li>
                                                                        <a href="#">@Model.LayoutModel.GetSubCategories[index].Name</a>
                                                                    </li>
                                                                    count += 1;
                                                                }
                                                                index += 1;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        <div class="tripleColImg">
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link" href="#">Kids<span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="showFlex">
                                        @{
                                            index = 0;
                                            for (int j = 0; j < 1; j++)//2
                                            {
                                                int count = 0;
                                                <div class="tripleCol">
                                                    <ul class="pl-0">
                                                        <li>
                                                            <h5>Kids</h5>
                                                        </li>
                                                        @{
                                                            while (count < 5 && index != Model.LayoutModel.SubCategoriesCount)
                                                            {
                                                                if (Model.LayoutModel.GetSubCategories[index].ProductTypeId == 3)
                                                                {
                                                                    <li>
                                                                        <a href="#">@Model.LayoutModel.GetSubCategories[index].Name</a>
                                                                    </li>
                                                                    count += 1;
                                                                }
                                                                index += 1;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                        <div class="tripleColImg">
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link" href="#">Accessories<span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="showFlex">
                                        @{
                                            index = 0;
                                            for (int j = 0; j < 1; j++)//2
                                            {
                                                int count = 0;
                                                <div class="tripleCol">
                                                    <ul class="pl-0">
                                                        <li>
                                                            <h5>Accessories</h5>
                                                        </li>
                                                        @{
                                                            while (count < 5 && index != Model.LayoutModel.SubCategoriesCount)
                                                            {
                                                                if (Model.LayoutModel.GetSubCategories[index].ProductTypeId == 4)
                                                                {
                                                                    <li>
                                                                        <a href="#">@Model.LayoutModel.GetSubCategories[index].Name</a>
                                                                    </li>
                                                                    count += 1;
                                                                }
                                                                index += 1;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                        <div class="tripleColImg">
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link" href="#">Brands<span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="container">
                                        @{
                                            var producers = Model.LayoutModel.GetProducers;
                                            for (int i = 1; i <= Model.LayoutModel.ProducersCount / 6; i++)
                                            {

                                                <div class="row mt-4">
                                                    @{
                                                        for (int j = ((i - 1) * 6); j < i * 6; j++)
                                                        {
                                                            <div class="card cardBrand">
                                                                <div class="card-body">
                                                                    <img class="brandImg" src=@producers[j].ImageName />
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>

                                            }
                                            if (Model.LayoutModel.ProducersCount % 6 != 0)
                                            {
                                                <div class="row mt-4">
                                                    @{ for (int i = Model.LayoutModel.ProducersCount - Model.LayoutModel.ProducersCount % 6; i < Model.LayoutModel.ProducersCount; i++)
                                                        {
                                                            <div class="card cardBrand">
                                                                <div class="card-body">
                                                                    <img class="brandImg" src=@producers[i].ImageName />
                                                                </div>
                                                            </div>
                                                        }

                                                    }
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="text-center mt-3 mb-4">
                                        <button type="button" class="btn btn-outline-dark">View All Brands</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link" href="#">Sale <span class="sr-only">(current)</span></a>
                                <div class="dropdown-content">
                                    <div class="showSaleFlex">
                                        <div class="tripleCol">
                                            <ul class="pl-0">
                                                <li>
                                                    <h5>Sale</h5>
                                                </li>

                                                @{
                                                    for (int i = 0; i < Model.LayoutModel.TypeCount; i++)
                                                    {
                                                        <li>
                                                            <a href="#">@Model.LayoutModel.GetTypeOfProducts[i].Name</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>

                                        </div>
                                        <div class="tripleColImg">
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />
                                            <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/mega-menu/women/boot-trend-shop-moto.jpg?h=403&w=403&la=en&hash=B9AE4D555F0CBFED83D5F35425962F8CA10F585F" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="map">
                    <a href="#"><i class="fas fa-map-marker-alt" style="margin-right:10px"></i>Choose your store</a>
                </div>
                <div class="account">
                    <a asp-controller="Account" asp-action="AccountAction"><i class="fas fa-user-alt" style="margin-right:10px"></i></a>
                </div>
                <form asp-action="Logout" asp-controller="Account">
                    <div class="cart">
                        <button style="visibility:hidden" type="submit"><i style="visibility:visible" class="fas fa-shopping-cart"></i></button>
                    </div>
                </form>
            </div>
        </nav>
        <div class="miniAdvert active">
            <a class="text-light" id="flicker" href="#">Sale </a>
        </div>
    </div>
    @RenderBody()

    <footer class="site-footer">
        <div class="flex">
            <div>
                <!--<h6>Categories</h6>-->
                <ul class="footer-links">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                </ul>
            </div>

            <div>
                <!--<h6>Categories</h6>-->
                <ul class="footer-links">
                    <li>
                        <a href="#">Thanks & Complain</a>
                    </li>
                    <li>
                        <a href="#">Department</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                    <li>
                        <a href="#">Privacy & Cookies </a>
                    </li>

                </ul>
            </div>
            <div class="icocont">
                <ul class="icons">
                    <li>
                        <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="youtube" href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a class="telegram" href="#"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p class="rights">
                Copyright &copy; 2018-2019 All Rights Reserved.
            </p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/js/jquery.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
