
@{
    Layout = null;
}
@model MyOwnApp.ViewModels.AdminModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/sideStyle.css">
    <link href="~/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">

        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <h1><a href="index.html" class="logo">Project Name</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> In General</a>
                    </li>
                    <li>
                        <a asp-action="AdminFirstChart" asp-controller="Admin"><span class="fa fa-user mr-3"></span> Current year</a>
                    </li>
                    <li>
                        <a asp-action="AdminSecondChart" asp-controller="Admin"><span class="fa fa-sticky-note mr-3"></span> Each year </a>
                    </li>
                    <li>
                        <a asp-action="AdminProducts" asp-controller="Admin"><span class="fa fa-sticky-note mr-3"></span> Products</a>
                    </li>
                    <li>
                        <a asp-action="AdminOrders" asp-controller="Admin"><span class="fa fa-paper-plane mr-3"></span> Orders</a>
                    </li>
                </ul>

            </nav>

            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 pt-5">

                <!-- PAGE CONTENT-->
                <div class="page-content--bgf7">


                    <!-- WELCOME-->
                    <section class="welcome p-t-10">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="title-4">
                                        Welcome back
                                        <span>@Model.AdminName!</span>
                                    </h1>
                                    <hr class="line-seprate">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END WELCOME-->
                    <!-- STATISTIC-->
                    <section class="statistic statistic2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="statistic__item statistic__item--green">
                                        <h2 class="number">@Model.OnlineUsers</h2>
                                        <span class="desc">members online</span>
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="statistic__item statistic__item--orange">
                                        <h2 class="number">@Model.AllTimeSold</h2>
                                        <span class="desc">all time profit</span>
                                        <div class="icon">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="statistic__item statistic__item--blue">
                                        <h2 class="number">@Model.WeekSoldCount</h2>
                                        <span class="desc">this week</span>
                                        <div class="icon">
                                            <i class="zmdi zmdi-calendar-note"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="statistic__item statistic__item--red">
                                        <h2 class="number">$@Model.WeekSold</h2>
                                        <span class="desc">total earnings</span>
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END STATISTIC-->
                    <!-- STATISTIC CHART-->
                    <section class="statistic-chart">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title-5 m-b-35">statistics</h3>
                                </div>
                            </div>
                            <div class="row">                               
                                <div class="col-lg-1">
                                </div>
                                <!-- <div class="col-md-6 col-lg-4"> -->
                                <div class="col-md-12 col-lg-4">
                                    <!-- TOP CAMPAIGN-->
                                    <div class="top-campaign">
                                        <h3 class="title-3 m-b-30">top campaigns</h3>
                                        <div class="table-responsive">
                                            <table class="table table-top-campaign">
                                                <tbody>
                                                    <tr>
                                                        <td>1. @Model.TopProducers[0].NameOfProducer</td>
                                                        <td>$@Model.TopProducers[0].SoldSumm</td>
                                                    </tr>
                                                    @*<tr>
                                                <td>2. @Model.TopProducers[1].NameOfProducer</td>
                                                <td>$@Model.TopProducers[1].SoldSumm</td>
                                            </tr>
                                            <tr>
                                                <td>3. @Model.TopProducers[2].NameOfProducer</td>
                                                <td>$@Model.TopProducers[2].SoldSumm</td>
                                            </tr>
                                            <tr>
                                                <td>4. @Model.TopProducers[3].NameOfProducer</td>
                                                <td>$@Model.TopProducers[3].SoldSumm</td>
                                            </tr>
                                            <tr>
                                                <td>5. @Model.TopProducers[4].NameOfProducer</td>
                                                <td>$@Model.TopProducers[4].SoldSumm</td>
                                            </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END TOP CAMPAIGN-->
                                </div>
                                <!-- <div class="col-md-6 col-lg-4"> -->
                                <div class="col-md-12 col-lg-6">
                                    <!-- CHART PERCENT-->
                                    <div class="chart-percent-2">
                                        <h3 class="title-3 m-b-15">chart by %</h3>
                                        <div class="chart-wrap">
                                            <canvas id="myCircleChart"></canvas>
                                        </div>

                                    </div>
                                    <!-- END CHART PERCENT-->
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END STATISTIC CHART-->
                    <!-- COPYRIGHT-->
                    <section class="p-t-60 p-b-20">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright">
                                        <p>Copyright © 2018. All rights reserved. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END COPYRIGHT-->
                </div>
            </div>
        </div>


        

    </div>

    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js"></script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    <script src="~/js/sideJs.js"></script>

    <script>        
        var myCircleChart = new Chart(document.getElementById("myCircleChart"), {
            type: 'doughnut',
            data: {
                labels: ["@Model.ChartProductTypes[0].NameOfType", "@Model.ChartProductTypes[1].NameOfType", "@Model.ChartProductTypes[2].NameOfType", "@Model.ChartProductTypes[3].NameOfType", "@Model.ChartProductTypes[4].NameOfType"],
                datasets: [{
                    data: [@Model.ChartProductTypes[0].SoldSumm, @Model.ChartProductTypes[1].SoldSumm, @Model.ChartProductTypes[2].SoldSumm, @Model.ChartProductTypes[3].SoldSumm, @Model.ChartProductTypes[4].SoldSumm],
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                }]
            },
            options: {
                responsive: true
            }
        });</script>
</body>
</html>
